<nav class="navbar navbar-expand-sm navbar-dark bgcustom">
  <div class="container-fluid">
    <a routerLink="acceuil"><img src="assets/img/HRV-MOTOR.png"></a>
    <button class="navbar-toggler" type="button">
      <img src="assets/img/HRV-MOTOR.png">
    </button>
    <div class="collapse navbar-collapse " id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="acceuil">Accueil</a>
        </li>
        <!-- Liste déroulante automatique mwahahaha-->
        <li class="nav-item dropdown ">
          <a id="dLabel" role="button" data-toggle="dropdown" class="nav-link dropdown-toggle active" routerLink="#">
            Catégorie <span class="caret"></span>
          </a>
          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            <!-- je pompe moins de ligne que toi =D  href="/categorie/{{a.categorie}}" -->
            <li class="dropdown-submenu"*ngFor="let a of categorie()">
              <a class="dropdown-item" href="/categorie/{{a.categorie}}" >{{a.categorie}}</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/souscategorie/{{b}}" *ngFor="let b of a.sous">{{b}}</a></li>
              </ul>
            </li>
          </ul>
        </li>

                 

      </ul>

      <!-- Fin liste déroulante-->

      <!-- Bars gauche-->
      <!-- Recherche-->
      <div class="row  justify-content-center">

        <form class="d-flex recherche ">
          <input class="form-control me-2 recherche" type="text" placeholder="Search">
          <button class="btn btn-dark" type="button">
            <img src="assets/img/loupe.png" class="imgpanier">
          </button>
        </form>
      </div>

      <!--Button connexion -->

      <div *ngIf="!islogged()" >
        <button class="btn btn-outline-light" role="button" type="button" routerLink="connexion">Connexion

        </button>
      </div>
      <!--Button deconnexion -->
      <div *ngIf="islogged()">
        
        <button class="btn btn-dark" role="button" type="button" routerLink="deconnexion">Deconnexion
        </button>
      </div>
      <!--Button profil -->
      <div *ngIf="islogged()">
        <button class="btn btn-dark" role="button" type="button" routerLink="profil"><span>{{bonjour() | uppercase}} </span>
        </button>
      </div>

      



      <!-- Button panier-->
      <button class="btn btn-dark " type="button" routerLink="panier">

        <img src="assets/img/new-document.png" class="imgpanier">
        Devis
      </button>

    </div>
  </div>
</nav>