<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#"><img src="assets/img/HRV-MOTOR.png"></a>
      <button class="navbar-toggler" type="button">
        <img src="assets/img/HRV-MOTOR.png">
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0)">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0)">Link</a>
          </li>

<!-- Liste déroulante-->

          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Catégorie
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Moto</a>
              <a class="dropdown-item" href="#">Voiture</a>
              <a class="dropdown-item" href="#">Camion</a>
              <a class="dropdown-item" href="#">Tank</a>
              <a class="dropdown-item" href="#">Bateaux</a>
              <a class="dropdown-item" href="#">Sous-marin</a>
              <a class="dropdown-item" href="#">Avion</a>
              <a class="dropdown-item" href="#">Vaisseaux spatiaux</a>
              
            </div>
          </li>
        </ul>

<!-- Fin liste déroulante-->


        <form class="d-flex justify-content-center">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn bg-transparent text-light" type="button">Search</button>
        </form>
        <button class="btn bg-transparent text-light"  type="button">Connexion
            
        </button>
        <button class="btn bg-transparent text-light titi" type="button">
            
        <img src="assets/img/panier.png" class="toto">
        Panier 
        </button>
      </div>
    </div>
  </nav>
