<section>
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center ">

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>
                    <!-- login input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control form-control-lg"
                            placeholder="login " />
                        <label class="form-label" for="form3Example3">login ou mail</label>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" id="form3Example4" class="form-control form-control-lg"
                            placeholder="mot de passe" />
                        <label class="form-label" for="form3Example4">mot de passe</label>
                    </div>
                    <!-- email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control form-control-lg"
                            placeholder="mail" />
                        <label class="form-label" for="form3Example3">mail</label>
                    </div>
                    <!-- nom input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control form-control-lg"
                            placeholder="nom" />
                        <label class="form-label" for="form3Example3">nom</label>
                    </div>
                    <!-- prenom input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example3" class="form-control form-control-lg"
                            placeholder="prenom" />
                        <label class="form-label" for="form3Example3">prenom</label>
                    </div>


                    <div class="d-flex justify-content-between align-items-center">

                        <a href="#!" class="text-body">Mot de passe oublié ?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="button" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Inscription</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Deja un compte ? <a href="connexion"
                                class="link-danger">Connexion par ici !</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>