<section>
<div class="container p-5">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center ">

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <!-- login input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="login "
                        [(ngModel)]="data.login"(input)="brutalCheck()" />
                    <label class="form-label" for="form3Example3">login </label>
                    <p class="err" *ngIf="vide(data.login)">Champ vide</p>
                    <p class="err" *ngIf="autrelog()">Login deja pris</p>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input type="password" id="form3Example4" class="form-control form-control-lg"
                        placeholder="mot de passe" [(ngModel)]="data.pass"(input)="brutalCheck()" />
                    <label class="form-label" for="form3Example4">mot de passe</label>
                    <p class="err" *ngIf="vide(data.pass)">Champ vide</p>
                </div>
                <div class="form-outline mb-3">
                    <input type="password" id="form3Example4" class="form-control form-control-lg"
                        placeholder="mot de passe" [(ngModel)]="confirme"(input)="brutalCheck()" />
                    <label class="form-label" for="form3Example4">confirmer mot de passe</label>
                    <p class="err" *ngIf="vide(confirme)">Champ vide</p>
                </div>
                <!-- email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" class="form-control form-control-lg" placeholder="mail"
                        [(ngModel)]="data.mail"(input)="brutalCheck()" />
                    <label class="form-label" for="form3Example3">mail</label>
                    <p class="err" *ngIf="vide(data.mail)">Champ vide</p>
                </div>
                <!-- nom input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="nom"
                        [(ngModel)]="data.nom"(input)="brutalCheck()" />
                    <label class="form-label" for="form3Example3">nom</label>
                    <p class="err" *ngIf="vide(data.nom)">Champ vide</p>
                </div>
                <!-- prenom input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="prenom"
                        [(ngModel)]="data.prenom"(input)="brutalCheck()" />
                    <label class="form-label" for="form3Example3">prenom</label>
                    <p class="err" *ngIf="vide(data.prenom)">Champ vide</p>
                </div>
                <!-- button input -->
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="button" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="tentative()"
                        [disabled]="brutal">Inscription</button>

                    <!-- deja compe 
                    <p class="small fw-bold mt-2 pt-1 mb-0">Deja un compte ? <a routerLink="/connexion"
                            class="link-danger">Connexion par ici !</a></p>-->
                </div>


            </div>
        </div>
    </div>
</div>
</section>