<section>
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center ">

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>

                    <div><p>Etes vous sur ?</p></div>
                    <a name="" id="" class="btn btn-secondary" href="connexion" role="button">Annuler</a>
                    
                    <button (click)="deco()" class="btn btn-primary">Deconnexion</button>
                    <!-- <a name="" id="" class="btn btn-primary|secondary|success|danger|warning|info|light|dark|link" href="#" role="button"></a> -->
                   


                </form>
            </div>
        </div>
    </div>

</section>