<section>
    <div class="container ">
        <div class="row py-5">
            <div class="col-sm-4"></div>
            <div class="col-sm-4  text-center box py-3">

                <div>
                    <p>Etes vous sur ?</p>
                </div>
                <a name="" id="" class="btn btn-secondary me-2" href="acceuil" role="button">Annuler</a>

                <button (click)="deco()" class="btn btn-primary">Deconnexion</button>
                <!-- <a name="" id="" class="btn btn-primary|secondary|success|danger|warning|info|light|dark|link" href="#" role="button"></a> -->



            </div>
        </div>
    </div>

</section>