

    <div class="container h-custom pt-5 pb-5">
        
        <div class="row d-flex justify-content-center align-items-center bgperso pt-5 pb-5">

            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                <!-- login input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="login "
                        [(ngModel)]="data.login" disabled="true" (input)="brutalCheck()"/>
                    <label class="form-label" for="form3Example3">login non alterable</label>
                </div>
                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input type="password" id="form3Example4" class="form-control form-control-lg"
                        placeholder="mot de passe" [(ngModel)]="data.pass" (input)="brutalCheck()" />
                    <label class="form-label" for="form3Example4" > mot de passe</label>
                    <p class="err" *ngIf="vide(data.pass)">Champ vide</p>
                </div>
                <div class="form-outline mb-3">
                    <input type="password" id="form3Example4" class="form-control form-control-lg"
                        placeholder="mot de passe" [(ngModel)]="confirme" (input)="brutalCheck()" />
                    <label class="form-label" for="form3Example4">repeter mot de passe</label>
                    <p class="err" *ngIf="vide(data.pass)">Champ vide</p>
                </div>
                <!-- email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="form3Example3" class="form-control form-control-lg" placeholder="mail"
                        [(ngModel)]="data.mail"(input)="brutalCheck()" />
                    <label class="form-label" for="form3Example3">mail</label>
                    <p class="err" *ngIf="vide(data.mail)">Champ vide</p>
                </div>
                <!-- nom input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="nom"
                        [(ngModel)]="data.nom"(input)="brutalCheck()" />
                    <label class="form-label" for="form3Example3">nom</label>
                    <p class="err" *ngIf="vide(data.nom)">Champ vide</p>
                </div>
                <!-- prenom input -->
                <div class="form-outline mb-4">
                    <input type="text" id="form3Example3" class="form-control form-control-lg" placeholder="prenom"
                        [(ngModel)]="data.prenom"(input)="brutalCheck()" />
                    <label class="form-label" for="form3Example3">prenom</label>
                    <p class="err" *ngIf="vide(data.prenom)">Champ vide</p>
                </div>
                <!-- button input -->
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="button" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="updateClient()"
                        [disabled]="brutal">mise a jour profil</button>
<p>repeter votre Mot de Passe pour effectuer un changement</p>

                </div>


            </div>
        </div>
    
    </div>

